@{
    ViewBag.Title = "Home Page";
}
<section id="about" class="about">
    <div class="container">

        <div class="row justify-content-end">
            <div class="col-lg-11">
                <div class="row justify-content-end">

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box py-5">
                            <i class="bi bi-emoji-smile"></i>
                            <span data-purecounter-start="0" data-purecounter-end="65" class="purecounter">0</span>
                            <p>Happy Clients</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box py-5">
                            <i class="bi bi-journal-richtext"></i>
                            <span data-purecounter-start="0" data-purecounter-end="85" class="purecounter">0</span>
                            <p>Projects</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box pb-5 pt-0 pt-lg-5">
                            <i class="bi bi-clock"></i>
                            <span data-purecounter-start="0" data-purecounter-end="27" class="purecounter">0</span>
                            <p>Years of experience</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box pb-5 pt-0 pt-lg-5">
                            <i class="bi bi-award"></i>
                            <span data-purecounter-start="0" data-purecounter-end="22" class="purecounter">0</span>
                            <p>Awards</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6 video-box align-self-baseline position-relative">
                <img src="~/assets/img/slide02.png" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
            </div>

            <div class="col-lg-6 pt-3 pt-lg-0 content">
                <h3>🌐 Ngân hàng Bằng chứng Học thuật – Nơi khởi nguồn của tri thức đáng tin cậy</h3>
                <p class="fst-italic">
                    Trong thời đại bùng nổ thông tin, việc tìm kiếm dẫn chứng khoa học và số liệu đáng tin cậy cho bài viết hay bài thuyết trình trở nên quan trọng hơn bao giờ hết. Ngân hàng Bằng chứng Học thuật (Academic Evidence Bank) ra đời nhằm mang đến cho học sinh, sinh viên và giáo viên một không gian học thuật hiện đại, thông minh và chính xác.

                </p>
                <p>
                    Tại đây, người dùng có thể dễ dàng tra cứu các bằng chứng, trích dẫn, thống kê và nguồn tư liệu khoa học được chọn lọc từ các báo cáo, tạp chí, sách và website uy tín. Mỗi dẫn chứng đều có nguồn gốc rõ ràng, được định dạng theo chuẩn trích dẫn quốc tế, giúp tiết kiệm thời gian và nâng cao tính học thuật cho mọi bài viết.
                </p>
                <p>
                    Không chỉ dừng lại ở việc tra cứu, hệ thống còn cho phép người dùng tạo bộ sưu tập cá nhân, lưu trữ và trích dẫn nhanh, hỗ trợ hiệu quả trong học tập, nghiên cứu và sáng tạo nội dung.
                </p>
                <p>
                    👉 Ngân hàng Bằng chứng Học thuật – Tra cứu chuẩn xác, trích dẫn dễ dàng, nâng tầm tri thức!
                </p>
                <h3>Các tính năng của hệ thống</h3>
                <ul>
                    <li><i class="bx bx-check-double"></i> Quản lý dữ liệu dẫn chứng</li>
                    <li><i class="bx bx-check-double"></i> Chức năng tìm kiếm thông minh</li>
                    <li><i class="bx bx-check-double"></i> Trích dẫn học thuật</li>
                    <li><i class="bx bx-check-double"></i> Cá nhân hóa & Bộ sưu tập</li>
                    <li><i class="bx bx-check-double"></i> Tích hợp AI</li>

                </ul>
              
            </div>

        </div>

    </div>
</section><!-- End About Section -->
