<nav id="navbar" class="navbar">
    <ul>
        <li><a class="active" href="~/Home/Index">Trang chủ</a></li>
        <li><a href="~/Home/About">Hướng dẫn</a></li>
        <li><a href="~/Evidence/Index">Tìm kiếm</a></li>
        <li><a href="~/Home/Contact">Liên hệ</a></li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("My", "Citations")">Trích dẫn của tôi</a>
        </li>

        @* Contribution and admin links *@
        @if (User?.Identity?.IsAuthenticated == true)
        {
            <li><a href="~/Evidence/Create">Đóng góp</a></li>
            if (User.IsInRole("Admin"))
            {
                <li><a href="~/Admin/Index">Quản lý</a></li>
            }
        }
        <li><span style="padding-left:15px;color:darkgrey;">|</span></li>
        @Html.Partial("_LoginPartial")

        @*<li><a class="getstarted" href="~/Home/About">Giới thiệu</a></li>*@
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
</nav>
